*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat, arial, sans-serif;
    background-color: #F6F6F6;
}

h1{
    color: #f5f5f5;
    font-weight: 200;
}

header{
    padding: 30px;
    background-color: #6D9886;
    text-align: left;
}

.grid-container{
    display: grid;
    padding: 20px;
}

.grid-container nav{
    grid-column-end: 2;
    height: 170px;
}

.grid-container main{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0 50px;
    width: 80%;
}

.grid-container aside{
    grid-column-start: 3;
    grid-column-end: 4;
}

nav{
    background-color: white;
    border-radius: 5px;
}

nav ul li{
    list-style: none;
    padding: 15px 20px;
    border-bottom: 2px solid #f6f6f6;
}

.no-line{
    border-bottom: none;;
}

nav ul li a{
    text-decoration: none;
    color: #66553b;
}

.article-title{
    color: #9b8766;
    padding: 0 0 40px 0;
    font-weight: 400;
}

.section-title{
    color: #9b8766;
    font-weight: 400;
}

table{
    padding: 20px 0;
}

th{
    font-weight: 500;
}

td{
    font-weight: 300;
}

th, td{
    border: 1px solid #D9CAB3;
    padding: 20px 10px;
}

section img{
    width: 400px;
}